<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JDMobile</key>
	<dict>
		<key>name</key>
		<string>京东金融</string>
		<key>donwloadUrl</key>
		<string>https://itunes.apple.com/cn/app/id895682747?mt=8</string>
		<key>imageName</key>
		<string>JDMobile</string>
		<key>titleColor</key>
		<string>#FB2C16</string>
		<key>context</key>
		<dict>
			<key>1</key>
			<dict>
				<key>headImageName</key>
				<string>flowMoney</string>
				<key>headText</key>
				<string>领流量</string>
				<key>describText</key>
				<string>每天领流量</string>
				<key>jumpUrl</key>
				<string>jdmobile://share?jumpType=7&amp;jumpUrl=508&amp;channel=default&amp;sourceUrl=1000*https://m.jr.jd.com/spe/downloadApp/index.html?id=285</string>
			</dict>
			<key>0</key>
			<dict>
				<key>headImageName</key>
				<string>coin</string>
				<key>headText</key>
				<string>领钢镚</string>
				<key>describText</key>
				<string>每天领钢镚</string>
				<key>jumpUrl</key>
				<string>jdmobile://share?jumpType=7&amp;jumpUrl=243&amp;channel=default&amp;sourceUrl=1000*https://m.jr.jd.com/spe/downloadApp/index.html?id=94</string>
			</dict>
		</dict>
	</dict>
	<key>Alipay</key>
	<dict>
		<key>name</key>
		<string>支付宝</string>
		<key>donwloadUrl</key>
		<string>https://itunes.apple.com/cn/app/id333206289?mt=8</string>
		<key>imageName</key>
		<string>alipay</string>
		<key>titleColor</key>
		<string>#56ABE4</string>
		<key>context</key>
		<dict>
			<key>0</key>
			<dict>
				<key>headImageName</key>
				<string>LuckMoney</string>
				<key>headText</key>
				<string>领红包</string>
				<key>describText</key>
				<string>每天领红包</string>
				<key>jumpUrl</key>
				<string>alipays://platformapi/startapp?appId=20000067&amp;__open_alipay__=YES&amp;url=https://render.alipay.com/p/f/fd-j6lzqrgm/guiderofmklvtvw.html?shareId=2088802685431555&amp;campStr=p1j+dzkZl018zOczaHT4Z5CLdPVCgrEXq89JsWOx1gdt05SIDMPg3PTxZbdPw9dL&amp;sign=qDuk9wbMLAmTU17dwUZiF8m0EnUCOV6iLkYLWxzpBm8=&amp;scene=offlinePaymentNewSns</string>
			</dict>
		</dict>
	</dict>
	<key>JD</key>
	<dict>
		<key>donwloadUrl</key>
		<string>https://itunes.apple.com/cn/app/id414245413</string>
		<key>context</key>
		<dict>
			<key>0</key>
			<dict>
				<key>headImageName</key>
				<string>JDbean</string>
				<key>headText</key>
				<string>领京豆</string>
				<key>describText</key>
				<string>每天领豆豆</string>
				<key>jumpUrl</key>
				<string>openapp.jdmobile://virtual?params={\&quot;category\&quot;:\&quot;jump\&quot;,\&quot;des\&quot;:\&quot;jdreactcommon\&quot;,\&quot;modulename\&quot;:\&quot;JDReactCollectJDBeans\&quot;,\&quot;appname\&quot;:\&quot;JDReactCollectJDBeans\&quot;,\&quot;ishidden\&quot;:true,\&quot;param\&quot;:{\&quot;page\&quot;:\&quot;collectJDBeansHomePage\&quot;,\&quot;source\&quot;:\&quot;jrsq17\&quot;,\&quot;transparentenable\&quot;:true}}</string>
			</dict>
		</dict>
		<key>imageName</key>
		<string>JD</string>
		<key>titleColor</key>
		<string>#F33316</string>
		<key>name</key>
		<string>京东</string>
	</dict>
	<key>qqNew</key>
	<dict>
		<key>donwloadUrl</key>
		<string>https://itunes.apple.com/cn/app/id399363156?mt=8</string>
		<key>context</key>
		<dict>
			<key>0</key>
			<dict>
				<key>headImageName</key>
				<string>LuckMoney</string>
				<key>headText</key>
				<string>领红包</string>
				<key>describText</key>
				<string>每天领红包</string>
				<key>jumpUrl</key>
				<string>qqnews://article_9527?nm=RSS2017113003249400</string>
			</dict>
		</dict>
		<key>imageName</key>
		<string>qqNew</string>
		<key>titleColor</key>
		<string>#ECF1F7</string>
		<key>name</key>
		<string>腾讯新闻</string>
	</dict>
</dict>
</plist>
